$font-family-sans-serif: 'Nunito', sans-serif;
$primary: #174F84;
$secondary : #10AB7C;
$info : #1E90FF;
$warning: #F5B759;
$success:#00BF9A;
$light : #DDE1ED;
$dark  : #2A354F;
$soft : #EFF2F5;

.btn-success {
    color:#FFFFFF;
}
