@import "custom";
@import "~bootstrap/scss/bootstrap";

html,body {
  height: 100%;
}

body {
  background-color: $soft;
}

.btn {
  padding: 6px 12px 9px 12px;
}

.form-label {
  font-weight: 500;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 380px;
  height: 100%;
  background-color: #FFF;
  z-index: 100;
}

.toolbar > .d-flex,
.toolbar .tab-content,
.toolbar .tab-pane {
  height: 100%;
}

.toolbar .tab-pane {
  overflow: hidden auto;
}

.toolbar .nav {
  padding: 10px;
}

.toolbar .nav-link {
  width: 96px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  padding: 12px 8px;
}

.toolbar .nav-link svg {
  display: block;
  margin:0 auto 8px auto;
  width: 30px;
}

.toolbar .tab-pane {
  background-color: #FFF;
  padding: 12px;
}

.main-area {
  position: relative;
  padding: 40px 40px 40px 420px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawing-area {
  width: 500px;
  height: 500px;
  background-color: #FFF;
}

.drawing-area-container {
  overflow: auto;
  padding-top:70px;
  text-align: center;
}

.download-modal .modal-body {
  padding:70px 40px 40px 40px;
}

.download-modal .btn-close {
  position:absolute;
  top:20px;
  right:20px;
}

.range-input {
  position: relative;
  padding-right: 60px;
}

.range-input .range-input__value {
  width: 50px;
  height: 30px;
  border: 1px solid $light;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  right: 0;
  bottom: 4px;
}

.text-alignment .btn svg {
  width: 22px;
  height: 22px;
}

.text-transform .btn svg,
.text-style .btn svg {
  width:27px;
  height: 27px;
  position: relative;
  top: 4px;
}

.text-transform .btn svg {
  top:3px;
}

.templates-grid {
  position: relative;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:8px;
  grid-auto-rows: 110px;
}

.templates-grid.error {
  padding-top:40px;
}

.templates-grid .alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.templates-grid .loader {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.templates-grid .loader {
  grid-column: 1/3;
}

.templates-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.templates-grid .templates-grid__grid-item {
  cursor:pointer;
}

.templates-grid.loading .templates-grid__grid-item {
  opacity: .7;
  cursor:none;
  pointer-events:none;
}

.text-block p {
  margin: 0;
}

.text-block .focus-visible {
  outline:none;
}

.text-block.selected {
  outline-style: dashed;
  outline-color: $primary;
  outline-width: 2px;
}

.tab-content .layout_default.picker_wrapper {
  background: #FFF;
}

.picker_done {
  display: none;
}

.clear-canvas-modal svg {
  display: block;
  margin: 40px auto;
  fill: $primary;
  width: 90px;
  height: 90px;
}

.clear-canvas-modal .btn-close {
  position:absolute;
  top:20px;
  right:20px;
}
