@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(0 0 0 / 3%);
}

.main {
  height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: 350px 1fr 350px;
  gap: 16px;
}

.drawing-area-container {
  overflow: auto;
}

.drawing-area {
  margin:70px auto 0 auto;
}

.color-picker .btn::after {
  display: none;
}

.color-picker .btn span {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  background-color: chocolate;
  margin:0 0 0 9px;
}

.picker_done {
  display: none;
}

.item-selected {
  outline: 2px dashed cornflowerblue;
}

.drawing-area .text-item p {
  margin-bottom: 0;
  white-space: pre;
}

.meme-templates-modal__loader {
  display:flex;
  justify-content:center;
}

.meme-templates-modal__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.meme-templates-modal__grid img {
  max-width: 100%;
}
