@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html,body {
  height: 100%;
}

body {
  background-color: $soft;
}

.form-label {
  font-weight: 500;
}

.btn svg {
  position: relative;
  top: -2px;
  width: 15px;
  height: 15px;
}

.main-container {
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: 0 20px;
  height: 100%;
}

.toolbar {
  background-color: #FFF;
}


.toolbar .nav {
  padding: 10px;
}

.toolbar .nav-link {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  padding: 12px 8px;
}

.toolbar .nav-link svg {
  display: block;
  margin:0 auto 8px auto;
  width: 30px;
}

.toolbar .tab-pane {
  padding: 12px;
}

.main-area {
  display: flex;
  padding: 40px;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.drawing-area {
  width: 500px;
  height: 500px;
  background-color: #FFF;
}

.main {
  height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: 350px 1fr 350px;
  gap: 16px;
}

.drawing-area-container {
  overflow: auto;
  padding-top:70px;
  text-align: center;
}

.download-modal .modal-body {
  padding:70px 40px 40px 40px;
}

.download-modal__close-btn {
  position:absolute;
  top:20px;
  right:20px;
}

.range-input {
  position: relative;
  padding-right: 60px;
}

.range-input .range-input__value {
  width: 50px;
  height: 30px;
  border: 1px solid $light;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  right: 0;
  bottom: 4px;
}

.text-alignment .btn svg {
  width: 22px;
  height: 22px;
}
.text-transform .btn svg,
.text-style .btn svg {
  width:27px;
  height: 27px;
  position: relative;
  top: 4px;
}

.text-transform .btn svg {
  top:3px;
}

.templates-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:8px;
}

.templates-grid .loader {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.templates-grid .loader,
.templates-grid .alert {
  grid-column: 1/3;
}

.templates-grid img {
  max-width:100%;
}

.templates-grid .templates-grid__grid-item {
  cursor:pointer;
}

.templates-grid.loading .templates-grid__grid-item {
  opacity: .7;
  cursor:none;
  pointer-events:none;
}

.text-block p {
  margin: 0;
}

.text-block .focus-visible {
  outline:none;
}

.text-block.selected {
  outline-style: dashed;
  outline-color: $primary;
  outline-width: 2px;
}

.tab-content .layout_default.picker_wrapper {
  background: #FFF;
}

.picker_done {
  display: none;
}

